.otherpage {
    background: lightgray;
    padding: 10px;
    border-radius: 10px;
}

.fontts {
    font-weight: 700;
}

.ttextfielsd {
    border: 3px solid rgb(97, 58, 180);
    width: 600px;
    border-radius: 10px;
    font-size: 18px;
    height: 50px;
    padding: 10px;
    /* background: linear-gradient(to right, #e50914 -0.08%, #c94ff5 81.14%, #5b79f1 99.92%); */
}

.text {
    padding: 10px;
}

.hour {
    text-align: center;
}

.posterImg:hover,.posterBlock:hover {
    opacity: 1;
    transform: scale3d(1.22, 1.22, 1) translateZ(0) perspective(1000px);
    box-shadow: 0 50px 0 #1a2224;
    border-radius: 4px;
}
.btn_custom{
    border: 1px solid #bb2d3b;
    padding:0px 8px;
    background-color: transparent;
    border-radius: 4px;
    color: aliceblue; 
    margin: 6px;
}
.btn_custom:hover{
    background-color: #bb2d3b;
}
.btn_custom_r1{
    border: 1px solid #ffc107;
    padding:0px 8px;
    background-color: transparent;
    border-radius: 4px;
    color: aliceblue; 
    margin: 6px; 
}
.btn_custom_r1:hover{
    background-color: #ffc107;
}
.primine{
    border: 1px solid #ffc107;
    color: #ffc107 !important;
    border-radius: 50px;
    padding:15px;
    height:30px !important
}
.primine:hover{
    border: 1px solid #bb2d3b;
    color: #bb2d3b !important;
}